@font-face {
    src: url("../fonts/Pixel-UniCode.ttf");
    font-family: Unicode;
}
header {
    font-family: Unicode;
    text-align: center;
    color: #f87057;
    text-shadow: 3px 2px black;
    text-decoration-line: underline;
    font-size: 1.5em;
}
aside{
    float:left;
    margin: 0 1em 1em 0;
    width: 18%;
    padding: 0 0.25em 0 0.25em;
    font-size: 0.9em;
}

body {
    background-image: url("../img/empty.jpg");
    background-size: contain;
    background-repeat: repeat-x;
    background-color: #7fac71;
    background-attachment: fixed;
    font-family: Unicode;
    font-size: 1.5em;
    margin-bottom: 5.25em;
}
ol.demo {
    list-style-type: decimal;
    margin: 7%;
    padding: 2%;
    list-style-position: inside;
}
h2{
    text-shadow: 3px -1px antiquewhite;
    color:black;
    text-decoration-line: underline;
}
img.ucc{
    height:4em; float: right; margin: 0.5em 0.5em 0.5em 0;
}
footer{
    position:fixed;
    bottom: 0;
    left:0;
    width: 100%;
    line-height: 0.2;
    font-size:0.8em;
}
div{
    float: right;
    margin: 0 1em 1em 0;
    width: 40%;
    padding: 0 0.25em 0 0.25em;
    border-style: solid;
}
.foot {
    border-style: none;
    float: left;
    width: 60%;
    height: 4em;
    margin: 0.5em 0.5em 0.5em 0;
}

.popup{
    background-color: rgba(225, 225, 225, 0.6);
    border-style: solid;
    border-color: #888888;
    border-width: thin;
    border-left-width: thick;
    border-radius: 5px;
}
em{
    background-color: rgba(254, 254, 104, 0.7);
    padding: 0 0.3em 0 0.3em;
}
.ecuaciones{
    height: 60px;
}
#ecgrado3{
    height: 40px;
}
.elementos{
    height: 150px;
}
#soluciones{
    height: 300px;
}
