aside{
    background-color: mediumspringgreen;
    ;
}
body {
    background-image: url("../img/empty.jpg");
    background-size: contain;
    background-repeat: repeat-x;
    background-color: deepskyblue;
    background-attachment: fixed;
}